// Overall style ======================================

// $tan: #bfb48f;
// $gray: #564e58;
// $red: #904e55;
// $white: #f2efea;
// $black: #262728;

$red: #ff5e5b;
$gray: #d7d7d7;
$white: #ffffeb;
$blue: #00cfcc;
$yellow: #ffed66;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	font-family: 'Catamaran', sans-serif;
	font-size: 30px;
	font-weight: bolder;
	padding: 0;
	margin: 0;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 20px;
	padding: 0;
	margin: 0;
}

h3 {
	font-family: 'Catamaran', sans-serif;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 18px;
	padding: 0;
	margin: 0;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

// Header Stylin' ==============================================

.container {
	display: flex;
	flex-direction: column;
	background-color: $white;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $blue;
	padding: 10px;
	color: $yellow;

	@media (min-width: 500px) {
		flex-direction: row;
		justify-content: space-between;
	}

	#logo {
		font-size: 50px;
		order: 1;
		padding: 0;

		@media (min-width: 500px) {
			order: 3;
			margin-right: 50px;
		}
	}

	nav {
		order: 2;
		padding-bottom: 10px;
		ul {
			list-style: none;
			text-decoration: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;

			.active {
				background-color: $red;
				color: $white;
			}

			a {
				text-decoration: none;
				color: $blue;

				li {
					padding: 10px;
					background-color: $white;
					margin: 5px;
				}
			}
		}
	}
	.social {
		order: 3;
		@media (min-width: 500px) {
			order: 1;
		}
		i {
			margin: 10px;
		}
	}
}

// Home Page Content =========================================

main {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-bottom: 20px;

	.hero {
		color: $white;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		background-image: url("img/itsme.jpg");
		background-position: 80%;
		background-size: cover;
		height: 90vh;
		flex-basis: 100%;

		@media (min-width: 500px) {
			background-attachment: fixed;
		}

		@media (min-width: 700px) {
			background-position: top;
		}
		h1 {
			background-color: rgba($red, 0.4);
		}

		h2 {
			background-color: rgba($red, 0.4);
			padding-bottom: 5px;

			span {
				color: $yellow;
			}
		}
	}

	.scb {
		display: flex;
		flex-direction: column;

		@media (min-width: 500px) {
			flex-direction: row;
			justify-content: space-around;
		}
		.me {
			background-color: $gray;
			padding: 10px;
			line-height: 1.6em;
			margin-top: 10px;

			@media (min-width: 500px) {
				flex-basis: 45%;
			}

			@media (min-width: 700px) {
				flex-basis: 40%;
			}

			h3 {
				margin: 0 auto;
				padding: 5px;
				background-color: $white;
				color: $blue;
				width: fit-content;
			}

			p {
				margin-top: 5px;

				span {
					background-color: $yellow;
				}
			}
			ul {
				list-style: none;

				span {
					background-color: $yellow;
				}
			}
		}
	}
	.contact {
		padding: 20px;
		margin-top: 20px;
		background-color: $red;
		color: white;
		display: flex;
		flex-direction: column;
		align-items: center;

		a {
			padding: 10px;
			margin-top: 10px;
			text-decoration: none;
			color: black;
			background-color: $yellow;
		}
	}
}

// Footer style =================================================

footer {
	display: flex;
	justify-content: space-around;
	align-content: center;
	background-color: $blue;
	color: $white;
	padding: 20px;
	li {
		list-style: none;
		display: inline-block;
		margin: 5px 10px;
		a {
			color: white;
			text-decoration: none;
		}
	}
}
