$tan: #bfb48f;
$gray: #564e58;
$red: #904e55;
$white: #f2efea;
$black: #262728;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
}

h4 {
	color: $gray;
	text-transform: uppercase;
	font-size: 15px;
}

.container {
	background-color: $white;
	color: $white;

	header {
		display: block;
		background-color: $red;
		padding: 10px 0px;

		.name {
			font-size: 15px;
			display: block;
			margin: 0 auto;
			text-align: center;
			padding: 10px 0px;
			color: $white;

			h2 {
				margin-top: 10px;
				font-weight: lighter;
			}
		}

		.social {
			display: block;
			text-align: center;
		}
	}
	main {
		.bio {
			display: block;
			text-align: center;
			width: 75%;
			margin: 0 auto;

			.pic {
				height: 150px;
				width: 150px;
				border-radius: 50%;
				background-image: url('img/scb.jpg');
				background-size: cover;
				margin: 10px auto;
			}
			.tiy {
				color: $black;
				font-weight: bolder;
				margin: 10px 0px;
			}

			.skills {
				color: $black;
				line-height: 1.6em;
				margin-bottom: 10px;
				padding: 10px 0px;
				background-color: $tan;
			}
		}

		.card-container {
			.card {
				display: block;
				width: 100%;
				height: 25vh;
			}

			.card-1 {
				background-image: url('img/dog.png');
				background-size: cover;
			}

			.card-2 {
				background-image: url('img/calc.png');
				background-size: cover;
			}

			.card-3 {
				background-image: url('img/itunes.png');
				background-size: cover;
			}

			.card-4 {
				background-image: url('img/recipe.png');
				background-size: cover;
			}
		}
	}
}
