* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif; }

h1 {
  font-family: 'Catamaran', sans-serif;
  font-size: 30px;
  font-weight: bolder;
  padding: 0;
  margin: 0; }

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 20px;
  padding: 0;
  margin: 0; }

h3 {
  font-family: 'Catamaran', sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 18px;
  padding: 0;
  margin: 0; }

p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px; }

.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffeb; }

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00cfcc;
  padding: 10px;
  color: #ffed66; }
  @media (min-width: 500px) {
    header {
      flex-direction: row;
      justify-content: space-between; } }
  header #logo {
    font-size: 50px;
    order: 1;
    padding: 0; }
    @media (min-width: 500px) {
      header #logo {
        order: 3;
        margin-right: 50px; } }
  header nav {
    order: 2;
    padding-bottom: 10px; }
    header nav ul {
      list-style: none;
      text-decoration: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
      header nav ul .active {
        background-color: #ff5e5b;
        color: #ffffeb; }
      header nav ul a {
        text-decoration: none;
        color: #00cfcc; }
        header nav ul a li:hover {
          background-color: #d7d7d7;
          color: #ffffeb; }
        header nav ul a li {
          padding: 10px;
          background-color: #ffffeb;
          margin: 5px; }
  header .social {
    order: 3; }
    @media (min-width: 500px) {
      header .social {
        order: 1; } }
    header .social i {
      margin: 10px; }

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 20px; }
  main .hero {
    color: #ffffeb;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-image: url("img/itsme.jpg");
    background-position: 80%;
    background-size: cover;
    height: 90vh;
    flex-basis: 100%; }
    @media (min-width: 500px) {
      main .hero {
        background-attachment: fixed; } }
    @media (min-width: 700px) {
      main .hero {
        background-position: top; } }
    main .hero h1 {
      background-color: rgba(255, 94, 91, 0.4); }
    main .hero h2 {
      background-color: rgba(255, 94, 91, 0.4);
      padding-bottom: 5px; }
      main .hero h2 span {
        color: #ffed66; }
  main .scb {
    display: flex;
    flex-direction: column; }
    @media (min-width: 500px) {
      main .scb {
        flex-direction: row;
        justify-content: center; } }
    main .scb .me {
      padding: 10px;
      line-height: 1.6em;
      margin-top: 10px;
      display: flex;
      flex-direction: column; }
      main .scb .me i {
        align-self: center;
        color: #00cfcc;
        background-color: #ffed66;
        border-radius: 50%;
        margin-bottom: 10px; }
      main .scb .me h3 {
        margin: 0 auto;
        padding: 5px;
        background-color: #ffffeb;
        color: #00cfcc;
        width: fit-content; }
      main .scb .me p {
        margin-top: 5px;
        border-bottom: 1px solid #d7d7d7;
        padding-bottom: 20px; }
        @media (min-width: 500px) {
          main .scb .me p {
            border-bottom: none; } }
      main .scb .me ul {
        list-style: none;
        text-align: center; }
    @media (min-width: 500px) {
      main .scb .me-1 {
        flex-basis: 50%;
        padding-right: 50px;
        border-right: 1px solid #d7d7d7; } }
    @media (min-width: 700px) {
      main .scb .me-1 {
        flex-basis: 45%; } }
    @media (min-width: 500px) {
      main .scb .me-2 {
        flex-basis: 30%;
        margin-right: 10%; } }
    @media (min-width: 700px) {
      main .scb .me-2 {
        flex-basis: 30%; } }
  main .contact {
    padding: 20px;
    margin-top: 20px;
    background-color: #ff5e5b;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .contact a {
      padding: 10px;
      margin-top: 10px;
      text-decoration: none;
      color: black;
      background-color: #ffed66; }

footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #00cfcc;
  color: #ffffeb;
  padding: 20px; }
  footer i {
    margin-right: 10px; }
  footer li {
    list-style: none;
    display: inline-block;
    margin: 5px 10px; }
    footer li a {
      color: white;
      text-decoration: none; }

.page-title {
  flex-basis: 100%;
  text-align: center;
  background-color: #ff5e5b;
  color: #ffffeb;
  margin-bottom: 20px; }

.proj-img {
  flex-basis: 100%;
  height: 40vh; }
  @media (min-width: 500px) {
    .proj-img {
      flex-basis: 70%;
      height: 60vh; } }

.project-right,
.project-left {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  position: relative; }
  @media (min-width: 900px) {
    .project-right,
    .project-left {
      flex-basis: 45%; } }

.proj-text {
  padding: 20px;
  line-height: 2em; }
  @media (min-width: 500px) {
    .proj-text {
      flex-basis: 30%; } }
  .proj-text h3 {
    color: #00cfcc; }

.dog {
  background-image: url("img/dog.png");
  background-size: cover; }

.hover-over {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: sticky;
  background-color: rgba(0, 207, 204, 0.7);
  width: 100%;
  height: 100%;
  transition: opacity 0.5s; }
  .hover-over a {
    color: white; }
  .hover-over i {
    margin-right: 50px; }
  .hover-over i:hover {
    color: #ffed66;
    cursor: pointer; }

.hover-over:hover {
  opacity: 1; }

.calc {
  background-image: url("img/calc.png");
  background-size: cover; }

.itunes {
  background-image: url("img/itunes.png");
  background-size: cover; }

.recipe {
  background-image: url("img/recipe.png");
  background-size: cover; }

/*# sourceMappingURL=style.css.map */
