// Overall style ======================================

$tan: #bfb48f;
$gray: #564e58;
$red: #904e55;
$white: #f2efea;
$black: #262728;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	font-family: 'Catamaran', sans-serif;
	font-weight: bolder;
	padding: 0;
	margin: 0;
}

h2 {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}

h3 {
	font-family: 'Catamaran', sans-serif;
	text-transform: uppercase;
	font-weight: lighter;
	padding: 0;
	margin: 0;
}

p {
	font-family: 'Roboto', sans-serif;
}

// Header Stylin' ==============================================

.container {
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $red;
	padding: 10px;
	color: $white;

	@media (min-width: 500px) {
		flex-direction: row;
		justify-content: space-around;
	}

	#logo {
		order: 1;
		padding: 0;

		@media (min-width: 500px) {
			order: 3;
		}
	}

	nav {
		order: 2;
		padding-bottom: 10px;
		ul {
			list-style: none;
			text-decoration: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;

			li {
				padding: 10px;
				background-color: $black;
				margin: 5px;
				a {
					text-decoration: none;
					color: white;
				}
			}
		}
	}

	.social {
		order: 3;
		@media (min-width: 500px) {
			order: 1;
		}
		i {
			margin: 10px;
		}
	}
}
